.container {
	background: rgba(0, 0, 0, 0.6);
	height: 80%;
	margin-left: 20px;
	margin-top: 100px;
	border-radius: 10px;
}

body {
	background: #FFF;
	color: #000;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 590px;
}

a {
	color: #000;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #000;
}