/* Scss Document */
/* Scss Document */
@font-face {
  src: url(../Fonts/Dragon%20is%20coming.otf);
  font-family: menu;
}

@font-face {
  src: url(../Fonts/Mohave.otf);
  font-family: second;
}

@font-face {
  src: url(../Fonts/FlexDisplay-Thin.otf);
  font-family: paragraph;
}

@font-face {
  src: url(../Fonts/heroin07.TTF);
  font-family: grunge;
}

/* line 21, ../SASS/index-style.scss */
body {
  background: linear-gradient(90deg, #b30000, #d60000);
  box-shadow: inset 0px 0px 90px rgba(0, 0, 0, 0.5);
}

/* line 26, ../SASS/index-style.scss */
#loading {
  width: 100px;
  height: 100px;
  background: url(../Images/logo.png);
  z-index: 1000;
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

/* line 36, ../SASS/index-style.scss */
#top {
  height: 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
}
/* line 41, ../SASS/index-style.scss */
#top .x-button {
  float: right !important;
  margin-right: -20px !important;
  margin-top: 70px !important;
}

/* line 47, ../SASS/index-style.scss */
#bottom {
  position: fixed;
  height: 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0px;
}

/* line 54, ../SASS/index-style.scss */
#overlay {
  background: #FFF;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .4;
  display: none;
  z-index: 1;
}

/* line 6, ../SASS/index-style.scss */
/* line 66, ../SASS/index-style.scss */
#div-one {
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 500px;
  height: 300px;
  width: 500px;
  top: 100px;
  position: fixed;
  opacity: .7;
  border-radius: 5px;
}

/* line 18, ../SASS/index-style.scss */
/* line 78, ../SASS/index-style.scss */
#div-one #main-logo {
  height: 300px;
  width: 500px;
  border-radius: 50%;
}

/* line 84, ../SASS/index-style.scss */
#cover {
  height: 800px;
  width: 100%;
  background: #000;
}

/* line 89, ../SASS/index-style.scss */
#nav-button {
  float: left;
  margin-top: -30px;
  width: 90%;
  height: 50px;
  z-index: 1000;
}

/* line 96, ../SASS/index-style.scss */
#nav-button-1 {
  height: 50px;
  width: 3%;
  margin-top: 20px;
  margin-bottom: -10px;
  margin-left: 15px;
  z-index: -100;
  cursor: pointer;
}

/* line 105, ../SASS/index-style.scss */
#nav-button-2 {
  height: 50px;
  width: 3%;
  margin-top: -150px;
  margin-bottom: -5px;
  margin-left: 15px;
  z-index: -100;
  cursor: pointer;
}

/* line 114, ../SASS/index-style.scss */
#nav-button-3 {
  height: 50px;
  width: 3%;
  margin-top: -70px;
  margin-left: 15px;
  z-index: -100;
  cursor: pointer;
}

/* line 23, ../SASS/index-style.scss */
/* line 124, ../SASS/index-style.scss */
#navigation {
  height: 100%;
  top: -50px;
  perspective: 800px;
}

/* line 27, ../SASS/index-style.scss */
/* line 130, ../SASS/index-style.scss */
#navigation #nav {
  margin-top: 0px;
  padding-top: 50px;
  height: 120%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  float: left;
  display: block;
  width: 5%;
  list-style: none;
}

/* line 38, ../SASS/index-style.scss */
/* line 142, ../SASS/index-style.scss */
#navigation #nav li {
  font-family: menu;
  font-size: 60px;
  margin-bottom: 30px;
  margin-left: -40px;
  margin-top: 10px;
  width: 130%;
}

/* line 52, ../SASS/index-style.scss */
/* line 151, ../SASS/index-style.scss */
#navigation #nav .top {
  background: #000;
}

/* line 154, ../SASS/index-style.scss */
.icon {
  margin-left: 20px;
  height: 50px;
  width: 50px;
  opacity: .3;
  -moz-transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
  -o-transition: .5s ease-in;
}

/* line 164, ../SASS/index-style.scss */
.icon:hover {
  opacity: 1;
  -moz-transform: scale(1.5, 1.5) rotate(45deg) rotateX(60deg);
  -webkit-transform: scale(1.5, 1.5) translate3d(20px, 10px, 300px) rotate(45deg);
  -ms-transform: scale(1.5, 1.5) rotate(45deg);
  -o-transform: scale(1.5, 1.5) rotate(45deg);
}

/* line 171, ../SASS/index-style.scss */
.description {
  font-size: 20px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  display: block;
  padding: 10px;
  margin-left: 20px;
  transition: .5s ease-in-out;
  opacity: 0;
}

/* line 180, ../SASS/index-style.scss */
#about-us {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 186, ../SASS/index-style.scss */
#specials {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 192, ../SASS/index-style.scss */
#images {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 198, ../SASS/index-style.scss */
#contact {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 205, ../SASS/index-style.scss */
.x {
  height: 30px;
  width: 50px;
  float: left;
  display: block;
  margin-top: -40px;
  margin-left: 20px;
  opacity: .1;
}

/* line 214, ../SASS/index-style.scss */
.x-button {
  float: left;
  margin-top: 150px;
  cursor: pointer;
}

/* line 220, ../SASS/index-style.scss */
#x-right {
  -webkit-transition: .5s ease-in-out;
}

/* line 223, ../SASS/index-style.scss */
#x-left {
  -webkit-transition: .5s ease-in-out;
}

/* line 226, ../SASS/index-style.scss */
.x-button:hover > #x-right {
  -webkit-transform: rotate(45deg);
  opacity: 1;
}

/* line 230, ../SASS/index-style.scss */
.x-button:hover > #x-left {
  -webkit-transform: rotate(-45deg);
  opacity: 1;
}

/* line 234, ../SASS/index-style.scss */
#confirm {
  float: left;
  width: 100%;
  text-align: center;
  background: #e6e6e6;
  z-index: -1000;
}

/* line 242, ../SASS/index-style.scss */
#weekly {
  margin-top: 50px;
  margin-left: 50px;
  list-style: none;
  width: 100%;
}
/* line 247, ../SASS/index-style.scss */
#weekly li {
  display: inline;
}
/* line 250, ../SASS/index-style.scss */
#weekly #ladies {
  padding: 30px 40px 30px 40px;
}
/* line 253, ../SASS/index-style.scss */
#weekly #sunday {
  color: #fff;
  background: url(../Images/test-back.png);
  background-size: cover;
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
/* line 262, ../SASS/index-style.scss */
#weekly #sunday :hover {
  border: medium solid #FFF;
}
/* line 266, ../SASS/index-style.scss */
#weekly .week-event {
  background: rgba(255, 255, 255, 0.6);
  padding: 30px;
  margin-right: 20px;
  border-radius: 15px;
  font-family: second;
  transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

/*About Us */
/* line 281, ../SASS/index-style.scss */
#about-page {
  height: 400px;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  margin-top: 150px;
  border: medium solid #000;
  color: #FFF;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  position: relative;
  box-shadow: inset 0 0 10px #888;
  overflow: hidden;
}

/* line 296, ../SASS/index-style.scss */
#about-top {
  height: 95%;
  width: 50%;
  opacity: .4;
  border-right: double solid #FFF;
  transition: 1s ease-in-out;
  margin: 10px 5px 15px 5px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #FFF;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
}
/* line 314, ../SASS/index-style.scss */
#about-top :hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
  opacity: .6;
}

/* line 322, ../SASS/index-style.scss */
#title {
  margin-top: -380px;
  margin-left: 450px;
  margin-bottom: -20px;
  font-family: second;
  font-size: 36px;
  text-align: center;
}

/* line 330, ../SASS/index-style.scss */
#about-p {
  float: right;
  -webkit-column-count: 2;
  width: 35%;
  height: 200px;
  padding: 15px;
  position: relative;
  color: #FFF;
  background: #FF000;
  margin-top: 55px;
  margin-right: 50px;
  text-align: right;
  font-family: paragraph;
  border-radius: 10px;
}

/* line 345, ../SASS/index-style.scss */
.sub {
  float: right;
  margin-right: 100px;
  margin-top: -100px;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}

/* line 355, ../SASS/index-style.scss */
#title:hover ~ .sub {
  opacity: 1;
}

/*Calendar */
/* line 360, ../SASS/index-style.scss */
#calendar {
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  margin-top: 100px;
  height: 500px;
  position: relative;
  width: 50%;
  border: solid medium #000;
  overflow-x: hidden;
  border-radius: 15px;
  box-shadow: inset 0 0 20px #888;
}

/* line 372, ../SASS/index-style.scss */
#calendar:after {
  z-index: -100;
  position: relative;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  width: 60%;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 392, ../SASS/index-style.scss */
#calendar .month {
  background: rgba(255, 255, 255, 0.6);
  height: 50px;
  padding-top: 20px;
  margin-top: 0px;
  text-align: center;
  font-family: second;
  border-bottom: medium double #000;
}

/* line 401, ../SASS/index-style.scss */
#events {
  color: #FFF;
  margin-left: -20px;
  margin-top: -20px;
  height: 500px;
  width: 100%;
  list-style: none;
  overflow: scroll;
  z-index: -1000;
}
/* line 410, ../SASS/index-style.scss */
#events :hover ~ #clicker {
  opacity: 1;
}
/* line 413, ../SASS/index-style.scss */
#events .event {
  background: #FFF;
  border-radius: 5px;
  left: 20px;
  position: relative;
  height: 200px;
  width: 90%;
  z-index: 1;
  margin-top: 20px;
  border-bottom: medium solid #000;
  box-shadow: 0px 10px 10px #e6e6e6;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}
/* line 428, ../SASS/index-style.scss */
#events .event :hover ~ #closer {
  opacity: 1;
}
/* line 431, ../SASS/index-style.scss */
#events .event .date {
  font-size: 16px;
  /*float:right; */
  margin-top: -10px;
  margin-right: 50px;
}
/* line 437, ../SASS/index-style.scss */
#events .event .event-name {
  float: left;
  margin: 0 auto;
  margin-right: 10px;
  font-size: 36px;
  color: #000;
  font-family: second;
  text-align: center;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}
/* line 450, ../SASS/index-style.scss */
#events .event .event-name2 {
  float: right;
  font-size: 36px;
  font-family: second;
  margin-right: 115px;
  margin-top: 20px;
}
/* line 457, ../SASS/index-style.scss */
#events .event .more {
  clear: both;
  float: right;
  margin-right: 20px;
  margin-top: -40px;
  font-size: 16px;
  font-family: second;
}
/* line 465, ../SASS/index-style.scss */
#events .event .event-info {
  float: left;
  margin-top: 50px;
  font-family: second;
  padding: 20px;
  color: #000;
}
/* line 473, ../SASS/index-style.scss */
#events .event-icon {
  margin-top: 10px;
  height: 80px;
  width: 80px;
  z-index: 1000;
}

/* line 480, ../SASS/index-style.scss */
#clicker {
  height: 100px;
  width: 200px;
  float: right;
  margin-right: -250px;
  margin-top: -300px;
  opacity: 0;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/*Gallery*/
/* line 495, ../SASS/index-style.scss */
#gallery {
  display: inline-block;
  height: 80%;
  width: 90%;
  margin-top: 150px;
  margin-left: 300px;
  padding: 10px;
  padding-top: 20px;
}
/* line 503, ../SASS/index-style.scss */
#gallery #flickr {
  width: 100%;
  display: inline-block;
  list-style: none;
}
/* line 507, ../SASS/index-style.scss */
#gallery #flickr li {
  display: inline;
}
/* line 510, ../SASS/index-style.scss */
#gallery #flickr .span4 {
  border: solid medium #000;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #000;
  transition: 1s ease-in-out;
  opacity: .5;
  height: 150px;
  width: 150px;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
/* line 523, ../SASS/index-style.scss */
#gallery #flickr .span4 :hover {
  transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  box-shadow: 5px 5px 10px #e6e6e6;
  opacity: 1;
}

/* line 536, ../SASS/index-style.scss */
#funday {
  height: 500px;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  margin-top: 150px;
  border: medium solid #000;
  color: #FFF;
  background: url(../Images/test-back.png);
  background-size: cover;
  border-radius: 5px;
  position: relative;
  box-shadow: inset 0 0 20px #888;
  overflow: hidden;
}
/* line 550, ../SASS/index-style.scss */
#funday #funday-top {
  font-family: grunge;
  font-size: 54px;
  text-align: center;
}
/* line 555, ../SASS/index-style.scss */
#funday #funday-second {
  font-family: paragraph;
  font-size: 18px;
  margin-left: 400px;
  margin-top: -30px;
  text-decoration: overline underline;
}
/* line 562, ../SASS/index-style.scss */
#funday #funday-info {
  margin-left: 30px;
  margin-top: 20px;
  height: 100%;
  width: 25%;
  font-family: second;
  font-size: 18px;
}
/* line 569, ../SASS/index-style.scss */
#funday #funday-info .booking {
  text-decoration: none;
  color: #C09236 !important;
}

/*Animations*/
/* Buzz Out */
@-webkit-keyframes buzz-out {
  /* line 580, ../SASS/index-style.scss */
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 585, ../SASS/index-style.scss */
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 590, ../SASS/index-style.scss */
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 595, ../SASS/index-style.scss */
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 600, ../SASS/index-style.scss */
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 605, ../SASS/index-style.scss */
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 610, ../SASS/index-style.scss */
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 615, ../SASS/index-style.scss */
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 620, ../SASS/index-style.scss */
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  /* line 625, ../SASS/index-style.scss */
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out {
  /* line 632, ../SASS/index-style.scss */
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 637, ../SASS/index-style.scss */
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 642, ../SASS/index-style.scss */
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 647, ../SASS/index-style.scss */
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 652, ../SASS/index-style.scss */
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 657, ../SASS/index-style.scss */
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 662, ../SASS/index-style.scss */
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 667, ../SASS/index-style.scss */
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 672, ../SASS/index-style.scss */
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  /* line 677, ../SASS/index-style.scss */
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

/* line 683, ../SASS/index-style.scss */
.buzz-out {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 689, ../SASS/index-style.scss */
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
  -webkit-animation-name: buzz-out;
  animation-name: buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes rotateplane {
  /* line 701, ../SASS/index-style.scss */
  0% {
    -webkit-transform: perspective(120px);
  }

  /* line 702, ../SASS/index-style.scss */
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  /* line 703, ../SASS/index-style.scss */
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes rotateplane {
  /* line 707, ../SASS/index-style.scss */
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  /* line 710, ../SASS/index-style.scss */
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  /* line 713, ../SASS/index-style.scss */
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
