/* Scss Document */
/* Scss Document */
@font-face {
  src: url(../Fonts/Dragon%20is%20coming.otf);
  font-family: menu;
}

@font-face {
  src: url(../Fonts/Mohave.otf);
  font-family: second;
}

@font-face {
  src: url(../Fonts/FlexDisplay-Thin.otf);
  font-family: paragraph;
}

/* line 17, ../SASS/index-style.scss */
body {
  background: linear-gradient(90deg, #b30000, #d60000);
  box-shadow: inset 0px 0px 90px rgba(0, 0, 0, 0.5);
}

/* line 22, ../SASS/index-style.scss */
#loading {
  width: 100px;
  height: 100px;
  background-color: #ffd700;
  z-index: 1000;
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

/* line 32, ../SASS/index-style.scss */
#top {
  height: 40px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.8)), to(rgba(80, 80, 80, 0)), color-stop(0.1, #333333));
  position: fixed;
}

/* line 41, ../SASS/index-style.scss */
#bottom {
  position: fixed;
  height: 40px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.1)), to(rgba(80, 80, 80, 0.8)), color-stop(0.8, #333333));
  bottom: 0px;
}

/* line 51, ../SASS/index-style.scss */
#overlay {
  background: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .4;
  display: none;
  z-index: -10;
}

/* line 6, ../SASS/index-style.scss */
/* line 63, ../SASS/index-style.scss */
#div-one {
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 500px;
  height: 300px;
  width: 500px;
  top: 100px;
  position: fixed;
  background: #000;
  opacity: .7;
  border-radius: 5px;
  border: solid medium #000;
}

/* line 18, ../SASS/index-style.scss */
/* line 77, ../SASS/index-style.scss */
#div-one #main-logo {
  height: 300px;
  width: 500px;
}

/* line 82, ../SASS/index-style.scss */
#cover {
  height: 800px;
  width: 100%;
  background: #000;
}

/* line 87, ../SASS/index-style.scss */
#nav-button {
  float: left;
  margin-top: -30px;
  width: 90%;
  height: 50px;
  z-index: 1000;
}

/* line 94, ../SASS/index-style.scss */
#nav-button-1 {
  height: 50px;
  width: 3%;
  margin-top: 20px;
  margin-bottom: -10px;
  margin-left: 15px;
  z-index: -100;
  cursor: pointer;
}

/* line 103, ../SASS/index-style.scss */
#nav-button-2 {
  height: 50px;
  width: 3%;
  margin-top: -150px;
  margin-bottom: -5px;
  margin-left: 15px;
  z-index: -100;
  cursor: pointer;
}

/* line 112, ../SASS/index-style.scss */
#nav-button-3 {
  height: 50px;
  width: 3%;
  margin-top: -70px;
  margin-left: 15px;
  z-index: -100;
  cursor: pointer;
}

/* line 23, ../SASS/index-style.scss */
/* line 122, ../SASS/index-style.scss */
#navigation {
  height: 100%;
  top: -50px;
  perspective: 800px;
}

/* line 27, ../SASS/index-style.scss */
/* line 128, ../SASS/index-style.scss */
#navigation #nav {
  margin-top: 0px;
  padding-top: 50px;
  height: 120%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.8)), to(rgba(80, 80, 80, 0.2)), color-stop(0.5, #333333));
  z-index: 100;
  float: left;
  display: block;
  width: 5%;
  list-style: none;
}

/* line 38, ../SASS/index-style.scss */
/* line 143, ../SASS/index-style.scss */
#navigation #nav li {
  font-family: menu;
  font-size: 60px;
  margin-bottom: 30px;
  margin-left: -40px;
  margin-top: 10px;
  width: 130%;
}

/* line 52, ../SASS/index-style.scss */
/* line 152, ../SASS/index-style.scss */
#navigation #nav .top {
  background: #000;
}

/* line 155, ../SASS/index-style.scss */
.icon {
  margin-left: 20px;
  height: 50px;
  width: 50px;
  opacity: .3;
  -moz-transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
  -o-transition: .5s ease-in;
}

/* line 165, ../SASS/index-style.scss */
.icon:hover {
  opacity: 1;
  -moz-transform: scale(1.5, 1.5) rotate(45deg) rotateX(60deg);
  -webkit-transform: scale(1.5, 1.5) translate3d(20px, 10px, 300px) rotate(45deg);
  -ms-transform: scale(1.5, 1.5) rotate(45deg);
  -o-transform: scale(1.5, 1.5) rotate(45deg);
}

/* line 172, ../SASS/index-style.scss */
.description {
  font-size: 20px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  display: block;
  padding: 10px;
  margin-left: 20px;
  transition: .5s ease-in-out;
  opacity: 0;
}

/* line 181, ../SASS/index-style.scss */
#about-us {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 187, ../SASS/index-style.scss */
#specials {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 193, ../SASS/index-style.scss */
#images {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 199, ../SASS/index-style.scss */
#contact {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 206, ../SASS/index-style.scss */
.x {
  height: 30px;
  width: 50px;
  float: left;
  display: block;
  margin-top: -40px;
  margin-left: 20px;
  opacity: .1;
}

/* line 215, ../SASS/index-style.scss */
#x-button {
  float: left;
  margin-top: 150px;
  cursor: pointer;
}

/* line 221, ../SASS/index-style.scss */
#x-right {
  -webkit-transition: .5s ease-in-out;
}

/* line 224, ../SASS/index-style.scss */
#x-left {
  -webkit-transition: .5s ease-in-out;
}

/* line 227, ../SASS/index-style.scss */
#x-button:hover > #x-right {
  -webkit-transform: rotate(45deg);
  opacity: 1;
}

/* line 231, ../SASS/index-style.scss */
#x-button:hover > #x-left {
  -webkit-transform: rotate(-45deg);
  opacity: 1;
}

/* line 235, ../SASS/index-style.scss */
#confirm {
  float: left;
  width: 100%;
  text-align: center;
  background: #e6e6e6;
  z-index: -1000;
}

/*About Us */
/* line 244, ../SASS/index-style.scss */
#about-page {
  height: 400px;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  margin-top: 150px;
  border: medium solid #000;
  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: inset 0 0 10px #888;
  /*overflow: hidden; */
}

/* line 257, ../SASS/index-style.scss */
#about-page:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  width: 60%;
  background: #000;
  -webkit-box-shadow: 0 15px 10px #000;
  -moz-box-shadow: 0 15px 10px #000;
  box-shadow: 0 15px 10px #000;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 277, ../SASS/index-style.scss */
#about-top {
  height: 100%;
  width: 50%;
  border-right: medium solid #000;
  box-shadow: 5px 0px 10px #e6e6e6;
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
/* line 287, ../SASS/index-style.scss */
#about-top :hover {
  transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}

/* line 295, ../SASS/index-style.scss */
#title {
  margin-top: -380px;
  margin-left: 450px;
  margin-bottom: -20px;
  font-family: second;
  font-size: 36px;
  text-align: center;
}

/* line 303, ../SASS/index-style.scss */
#about-p {
  float: right;
  -webkit-column-count: 2;
  width: 35%;
  height: 200px;
  padding: 15px;
  position: relative;
  color: #000;
  background: #FF000;
  margin-top: 55px;
  margin-right: 50px;
  text-align: right;
  font-family: paragraph;
  border-radius: 10px;
}

/* line 318, ../SASS/index-style.scss */
.sub {
  float: right;
  margin-right: 100px;
  margin-top: -100px;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}

/* line 328, ../SASS/index-style.scss */
#title:hover ~ .sub {
  opacity: 1;
}

/*Calendar */
/* line 333, ../SASS/index-style.scss */
#calendar {
  background: #FFF;
  margin: 0 auto;
  margin-top: 100px;
  height: 500px;
  position: relative;
  width: 50%;
  border: solid medium #000;
  overflow-x: hidden;
  box-shadow: inset 0 0 10px #888;
}

/* line 344, ../SASS/index-style.scss */
#calendar:after {
  z-index: -100;
  position: relative;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  width: 60%;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 364, ../SASS/index-style.scss */
#calendar .month {
  background: #e6e6e6;
  height: 50px;
  padding-top: 20px;
  margin-top: 0px;
  text-align: center;
  font-family: second;
  border-bottom: medium double #000;
}

/* line 373, ../SASS/index-style.scss */
#events {
  margin-left: -20px;
  margin-top: -20px;
  height: 500px;
  width: 100%;
  list-style: none;
  overflow: scroll;
  z-index: -1000;
}
/* line 382, ../SASS/index-style.scss */
#events :hover ~ #clicker {
  opacity: 1;
}
/* line 385, ../SASS/index-style.scss */
#events .event {
  background: #FFF;
  border-radius: 5px;
  left: 20px;
  position: relative;
  height: 100px;
  width: 90%;
  z-index: 1;
  border-bottom: medium solid #000;
  box-shadow: 0px 10px 10px #e6e6e6;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}
/* line 399, ../SASS/index-style.scss */
#events .event :hover ~ #closer {
  opacity: 1;
}
/* line 402, ../SASS/index-style.scss */
#events .event .date {
  font-size: 16px;
  /*float:right; */
  margin-top: -10px;
  margin-right: 50px;
}
/* line 408, ../SASS/index-style.scss */
#events .event .event-name {
  float: right;
  margin: 0 auto;
  margin-right: 10px;
  font-size: 36px;
  color: #000;
  font-family: second;
  text-align: center;
}
/* line 417, ../SASS/index-style.scss */
#events .event .event-name2 {
  float: right;
  font-size: 36px;
  font-family: second;
  margin-right: 115px;
  margin-top: 20px;
}
/* line 424, ../SASS/index-style.scss */
#events .event .more {
  clear: both;
  float: right;
  margin-right: 20px;
  margin-top: -40px;
  font-size: 16px;
  font-family: second;
}
/* line 432, ../SASS/index-style.scss */
#events .event .event-info {
  float: left;
  margin-top: 50px;
  font-family: second;
  padding: 20px;
}
/* line 439, ../SASS/index-style.scss */
#events .event-icon {
  margin-top: 10px;
  height: 80px;
  width: 80px;
  z-index: 1000;
}

/* line 446, ../SASS/index-style.scss */
#clicker {
  height: 100px;
  width: 200px;
  float: right;
  margin-right: -250px;
  margin-top: -300px;
  opacity: 0;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/*Gallery*/
/* line 461, ../SASS/index-style.scss */
#gallery {
  display: inline-block;
  height: 80%;
  width: 90%;
  margin-top: 150px;
  margin-left: 150px;
  padding: 10px;
  padding-top: 20px;
}
/* line 469, ../SASS/index-style.scss */
#gallery #flickr {
  width: 100%;
  display: inline-block;
  list-style: none;
}
/* line 473, ../SASS/index-style.scss */
#gallery #flickr li {
  display: inline;
}
/* line 476, ../SASS/index-style.scss */
#gallery #flickr .span4 {
  border: solid medium #000;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #000;
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
/* line 486, ../SASS/index-style.scss */
#gallery #flickr .span4 :hover {
  transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  box-shadow: 5px 5px 10px #e6e6e6;
}

/*Animations*/
/* Buzz Out */
@-webkit-keyframes buzz-out {
  /* line 502, ../SASS/index-style.scss */
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 507, ../SASS/index-style.scss */
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 512, ../SASS/index-style.scss */
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 517, ../SASS/index-style.scss */
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 522, ../SASS/index-style.scss */
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 527, ../SASS/index-style.scss */
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 532, ../SASS/index-style.scss */
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 537, ../SASS/index-style.scss */
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 542, ../SASS/index-style.scss */
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  /* line 547, ../SASS/index-style.scss */
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out {
  /* line 554, ../SASS/index-style.scss */
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 559, ../SASS/index-style.scss */
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 564, ../SASS/index-style.scss */
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 569, ../SASS/index-style.scss */
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 574, ../SASS/index-style.scss */
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 579, ../SASS/index-style.scss */
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 584, ../SASS/index-style.scss */
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 589, ../SASS/index-style.scss */
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 594, ../SASS/index-style.scss */
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  /* line 599, ../SASS/index-style.scss */
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

/* line 605, ../SASS/index-style.scss */
.buzz-out {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 611, ../SASS/index-style.scss */
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
  -webkit-animation-name: buzz-out;
  animation-name: buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes rotateplane {
  /* line 623, ../SASS/index-style.scss */
  0% {
    -webkit-transform: perspective(120px);
  }

  /* line 624, ../SASS/index-style.scss */
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  /* line 625, ../SASS/index-style.scss */
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes rotateplane {
  /* line 629, ../SASS/index-style.scss */
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  /* line 632, ../SASS/index-style.scss */
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  /* line 635, ../SASS/index-style.scss */
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
