/* Scss Document */
/* Scss Document */
@font-face {
  src: url(../Fonts/Dragon%20is%20coming.otf);
  font-family: menu;
}

@font-face {
  src: url(../Fonts/Mohave.otf);
  font-family: second;
}

@font-face {
  src: url(../Fonts/FlexDisplay-Thin.otf);
  font-family: paragraph;
}

@font-face {
  src: url(../Fonts/heroin07.TTF);
  font-family: grunge;
}

@font-face {
  src: url(../Fonts/CAFETA__.TTF);
  font-family: gallery;
}

/* line 25, ../SASS/index-style.scss */
body {
  background: linear-gradient(90deg, #b30000, #d60000);
  box-shadow: inset 0px 0px 90px rgba(0, 0, 0, 0.5);
}

/* line 30, ../SASS/index-style.scss */
#loading {
  width: 100px;
  height: 100px;
  background: url(../Images/logo.png);
  z-index: 1000;
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

/* line 40, ../SASS/index-style.scss */
#top {
  height: 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
}
/* line 45, ../SASS/index-style.scss */
#top .x-button {
  float: right !important;
  margin-right: -20px !important;
  margin-top: 70px !important;
}

/* line 51, ../SASS/index-style.scss */
#bottom {
  position: fixed;
  height: 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0px;
}

/* line 58, ../SASS/index-style.scss */
#overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

/* line 68, ../SASS/index-style.scss */
#next {
  height: 80px;
  width: 80px;
  background: #FFF;
  border-radius: 50%;
  z-index: 1000;
  float: left;
  margin-top: 430px;
  margin-left: 450px;
  display: none;
  position: absolute;
  box-shadow: 2px 2px 5px #e6e6e6;
}
/* line 80, ../SASS/index-style.scss */
#next #next-button {
  margin: 0 auto;
  height: 90px;
  width: 90px;
}

/* line 6, ../SASS/index-style.scss */
/* line 87, ../SASS/index-style.scss */
#div-one {
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 500px;
  height: 300px;
  width: 500px;
  top: 100px;
  position: fixed;
  opacity: .7;
  border-radius: 5px;
}

/* line 18, ../SASS/index-style.scss */
/* line 99, ../SASS/index-style.scss */
#div-one #main-logo {
  height: 300px;
  width: 500px;
  border-radius: 50%;
}

/* line 106, ../SASS/index-style.scss */
#cover {
  height: 800px;
  width: 100%;
  background: #000;
}

/* line 111, ../SASS/index-style.scss */
#nav-button {
  float: left;
  margin-top: -30px;
  width: 90%;
  height: 50px;
  z-index: 1000;
}

/* line 118, ../SASS/index-style.scss */
#nav-button-1 {
  height: 50px;
  width: 3%;
  margin-top: 20px;
  margin-bottom: -10px;
  margin-left: 15px;
  z-index: -100;
  cursor: pointer;
}

/* line 127, ../SASS/index-style.scss */
#nav-button-2 {
  height: 50px;
  width: 3%;
  margin-top: -150px;
  margin-bottom: -5px;
  margin-left: 15px;
  z-index: -100;
  cursor: pointer;
}

/* line 136, ../SASS/index-style.scss */
#nav-button-3 {
  height: 50px;
  width: 3%;
  margin-top: -70px;
  margin-left: 15px;
  z-index: -100;
  cursor: pointer;
}

/* line 23, ../SASS/index-style.scss */
/* line 146, ../SASS/index-style.scss */
#navigation {
  height: 100%;
  top: -50px;
  perspective: 800px;
}

/* line 27, ../SASS/index-style.scss */
/* line 152, ../SASS/index-style.scss */
#navigation #nav {
  margin-top: 0px;
  padding-top: 50px;
  height: 120%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  float: left;
  display: block;
  width: 5%;
  list-style: none;
}

/* line 38, ../SASS/index-style.scss */
/* line 164, ../SASS/index-style.scss */
#navigation #nav li {
  font-family: menu;
  font-size: 60px;
  margin-bottom: 30px;
  margin-left: -40px;
  margin-top: 10px;
  width: 130%;
}

/* line 52, ../SASS/index-style.scss */
/* line 173, ../SASS/index-style.scss */
#navigation #nav .top {
  background: #000;
}

/* line 176, ../SASS/index-style.scss */
.icon {
  margin-left: 20px;
  height: 50px;
  width: 50px;
  opacity: .3;
  -moz-transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
  -o-transition: .5s ease-in;
}

/* line 186, ../SASS/index-style.scss */
.icon:hover {
  opacity: 1;
  -moz-transform: scale(1.5, 1.5) rotate(45deg) rotateX(60deg);
  -webkit-transform: scale(1.5, 1.5) translate3d(20px, 10px, 300px) rotate(45deg);
  -ms-transform: scale(1.5, 1.5) rotate(45deg);
  -o-transform: scale(1.5, 1.5) rotate(45deg);
}

/* line 193, ../SASS/index-style.scss */
.description {
  font-size: 20px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  display: block;
  padding: 10px;
  margin-left: 20px;
  transition: .5s ease-in-out;
  opacity: 0;
}

/* line 202, ../SASS/index-style.scss */
#about-us {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 208, ../SASS/index-style.scss */
#specials {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 214, ../SASS/index-style.scss */
#images {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 220, ../SASS/index-style.scss */
#contact {
  width: 100px;
  margin-bottom: -50px;
  font-family: second;
  text-shadow: 2px 2px 2px #fff;
}

/* line 227, ../SASS/index-style.scss */
.x {
  height: 30px;
  width: 50px;
  float: left;
  display: block;
  margin-top: -40px;
  margin-left: 20px;
  opacity: .1;
}

/* line 236, ../SASS/index-style.scss */
.x-button {
  float: left;
  margin-top: 150px;
  cursor: pointer;
}

/* line 242, ../SASS/index-style.scss */
#x-right {
  -webkit-transition: .5s ease-in-out;
}

/* line 245, ../SASS/index-style.scss */
#x-left {
  -webkit-transition: .5s ease-in-out;
}

/* line 248, ../SASS/index-style.scss */
.x-button:hover > #x-right {
  -webkit-transform: rotate(45deg);
  opacity: 1;
}

/* line 252, ../SASS/index-style.scss */
.x-button:hover > #x-left {
  -webkit-transform: rotate(-45deg);
  opacity: 1;
}

/* line 256, ../SASS/index-style.scss */
#confirm {
  float: left;
  width: 100%;
  text-align: center;
  background: #e6e6e6;
  z-index: -1000;
}

/* line 264, ../SASS/index-style.scss */
#weekly {
  margin-top: 50px;
  margin-left: 50px;
  list-style: none;
  width: 100%;
}
/* line 269, ../SASS/index-style.scss */
#weekly li {
  display: inline;
}
/* line 272, ../SASS/index-style.scss */
#weekly #ladies {
  padding: 30px 40px 30px 40px;
}
/* line 275, ../SASS/index-style.scss */
#weekly #sunday {
  color: #fff;
  background: url(../Images/test-back.png);
  background-size: cover;
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
/* line 284, ../SASS/index-style.scss */
#weekly #sunday:hover {
  border: medium solid #FFF;
}
/* line 288, ../SASS/index-style.scss */
#weekly .week-event {
  background: rgba(255, 255, 255, 0.6);
  padding: 30px;
  margin-right: 20px;
  border-radius: 15px;
  font-family: second;
  transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

/*About Us */
/* line 303, ../SASS/index-style.scss */
#about-page {
  height: 400px;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  margin-top: 150px;
  border: medium solid #000;
  color: #FFF;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  position: relative;
  box-shadow: inset 0 0 10px #888;
  overflow: hidden;
}

/* line 318, ../SASS/index-style.scss */
#about-top {
  height: 95%;
  width: 50%;
  opacity: .4;
  border-right: double solid #FFF;
  transition: 1s ease-in-out;
  margin: 10px 5px 15px 5px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #FFF;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
}
/* line 336, ../SASS/index-style.scss */
#about-top:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
  opacity: .6;
}

/* line 344, ../SASS/index-style.scss */
#title {
  margin-top: -380px;
  margin-left: 450px;
  margin-bottom: -20px;
  font-family: second;
  font-size: 36px;
  text-align: center;
}

/* line 352, ../SASS/index-style.scss */
#about-p {
  float: right;
  -webkit-column-count: 2;
  width: 35%;
  height: 200px;
  padding: 15px;
  position: relative;
  color: #FFF;
  background: #FF000;
  margin-top: 55px;
  margin-right: 50px;
  text-align: right;
  font-family: paragraph;
  border-radius: 10px;
}

/* line 367, ../SASS/index-style.scss */
.sub {
  float: right;
  margin-right: 100px;
  margin-top: -100px;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}

/* line 377, ../SASS/index-style.scss */
#title:hover ~ .sub {
  opacity: 1;
}

/*Calendar */
/* line 382, ../SASS/index-style.scss */
#calendar {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 15px #000;
  margin: 0 auto;
  margin-top: 400px;
  height: 300px;
  position: relative;
  width: 80%;
  border: solid medium #000;
  overflow-x: hidden;
  border-radius: 15px;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.5);
}

/* line 396, ../SASS/index-style.scss */
#calendar .month {
  background: rgba(255, 255, 255, 0.6);
  height: 50px;
  padding-top: 20px;
  margin-top: 0px;
  text-align: center;
  font-family: second;
  border-bottom: medium double #000;
}
/* line 404, ../SASS/index-style.scss */
#calendar .month .close {
  height: 40px;
  width: 40px;
  float: right;
  margin-right: 20px;
  margin-top: -10px;
  cursor: pointer;
}

/* line 413, ../SASS/index-style.scss */
#events {
  color: #FFF;
  margin-left: -20px;
  margin-top: 20px;
  height: 200px;
  width: 90%;
  list-style: none;
  overflow: scroll;
  z-index: -1000;
}
/* line 422, ../SASS/index-style.scss */
#events :hover ~ #clicker {
  opacity: 1;
}
/* line 425, ../SASS/index-style.scss */
#events .event {
  border-radius: 5px;
  display: inline;
  left: 20px;
  height: 500px;
  width: 10%;
  z-index: 100;
  margin-top: 20px;
  margin-left: 50px;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}
/* line 438, ../SASS/index-style.scss */
#events .event:hover ~ #closer {
  opacity: 1;
}
/* line 441, ../SASS/index-style.scss */
#events .event .date {
  font-size: 16px;
  /*float:right; */
  margin-top: -10px;
  margin-right: 50px;
}
/* line 447, ../SASS/index-style.scss */
#events .event .event-name {
  float: left;
  margin: 0 auto;
  margin-right: 50px;
  font-size: 36px;
  color: #000;
  font-family: gallery;
  text-align: center;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}
/* line 460, ../SASS/index-style.scss */
#events .event .event-name2 {
  float: right;
  font-size: 36px;
  font-family: second;
  margin-right: 115px;
  margin-top: 20px;
}
/* line 467, ../SASS/index-style.scss */
#events .event .more {
  clear: both;
  float: right;
  margin-right: 20px;
  margin-top: -40px;
  font-size: 16px;
  font-family: second;
}
/* line 475, ../SASS/index-style.scss */
#events .event .event-info {
  z-index: 100;
  position: relative;
  margin-top: 100px;
  font-family: second;
  padding-right: 50px;
  color: #000;
}
/* line 484, ../SASS/index-style.scss */
#events .event-icon {
  margin-top: 10px;
  height: 80px;
  width: 80px;
  z-index: 1000;
}

/* line 491, ../SASS/index-style.scss */
#clicker {
  height: 100px;
  width: 200px;
  float: right;
  margin-right: -250px;
  margin-top: -300px;
  opacity: 0;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/*Gallery*/
/* line 506, ../SASS/index-style.scss */
#gallery {
  display: inline-block;
  height: 30%;
  width: 70%;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 15px #000;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 250px;
  padding: 10px;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* line 519, ../SASS/index-style.scss */
#gallery #gallery-top {
  color: #000;
  font-family: second;
}
/* line 523, ../SASS/index-style.scss */
#gallery #gallery-intro {
  color: #000;
  font-family: paragraph;
  text-align: center;
  font-size: 18px;
  height: 100%;
  width: 100%;
  border-bottom: medium double #FFF;
  font-family: gallery;
  font-size: 18px;
}
/* line 534, ../SASS/index-style.scss */
#gallery #show {
  margin-left: 200px;
  margin-top: -200px;
}
/* line 537, ../SASS/index-style.scss */
#gallery #show .span4 {
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
/* line 545, ../SASS/index-style.scss */
#gallery #flickr {
  float: left;
  padding: 10px;
  margin-bottom: -10px;
  display: inline-block;
  list-style: none;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 120px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-top: medium double #e6e6e6;
  border-radius: 15px;
}
/* line 559, ../SASS/index-style.scss */
#gallery #flickr li {
  display: inline;
}
/* line 562, ../SASS/index-style.scss */
#gallery #flickr .span4 {
  border: solid medium #000;
  display: inline-block;
  box-shadow: inset 0 0 10px #FFF;
  transition: 1s ease-in-out;
  opacity: .5;
  height: 100px;
  width: 100px;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
/* line 574, ../SASS/index-style.scss */
#gallery #flickr .span4 :hover {
  transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  box-shadow: 5px 5px 10px #e6e6e6;
  opacity: 1;
}

/* line 588, ../SASS/index-style.scss */
#dg-container img {
  height: 300px;
  width: 300px;
}

/* line 594, ../SASS/index-style.scss */
#funday {
  height: 500px;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  margin-top: 150px;
  border: medium solid #000;
  color: #FFF;
  background: url(../Images/test-back.png);
  background-size: cover;
  border-radius: 5px;
  position: relative;
  box-shadow: inset 0 0 20px #888;
  overflow: hidden;
}
/* line 608, ../SASS/index-style.scss */
#funday #funday-top {
  font-family: grunge;
  font-size: 54px;
  text-align: center;
}
/* line 613, ../SASS/index-style.scss */
#funday #funday-second {
  font-family: paragraph;
  font-size: 18px;
  margin-left: 400px;
  margin-top: -30px;
  text-decoration: overline underline;
}
/* line 620, ../SASS/index-style.scss */
#funday #funday-info {
  margin-left: 30px;
  margin-top: 20px;
  height: 100%;
  width: 25%;
  font-family: second;
  font-size: 18px;
}
/* line 627, ../SASS/index-style.scss */
#funday #funday-info .booking {
  text-decoration: none;
  color: #C09236 !important;
}

/* line 633, ../SASS/index-style.scss */
#location {
  height: 300px;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  margin-top: 150px;
  border: medium solid #000;
  color: #000;
  background: rgba(255, 255, 255, 0.6);
  background-size: cover;
  border-radius: 15px;
  position: relative;
  box-shadow: inset 0 0 15px #000;
  overflow: hidden;
}
/* line 647, ../SASS/index-style.scss */
#location a {
  color: #C09236;
  text-shadow: 2px 2px 2px #000;
}
/* line 651, ../SASS/index-style.scss */
#location #location-top {
  font-family: second;
  font-size: 50px;
  text-align: center;
}
/* line 656, ../SASS/index-style.scss */
#location .info {
  font-family: second;
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: -100px;
  font-size: 18px;
  position: fixed;
}
/* line 664, ../SASS/index-style.scss */
#location #call {
  margin-left: 220px;
}
/* line 667, ../SASS/index-style.scss */
#location #location-second {
  font-family: second;
  margin-left: 450px;
  margin-top: -30px;
  font-size: 18px;
}
/* line 673, ../SASS/index-style.scss */
#location .contact {
  float: left;
  border: solid medium #000;
  background: url(../Images/map.png);
  background-size: cover;
  padding: 20px 20px;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 60px;
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
/* line 687, ../SASS/index-style.scss */
#location .contact .contact-icon {
  height: 50px;
  width: 50px;
}
/* line 691, ../SASS/index-style.scss */
#location .contact:hover {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  border: solid medium #e6e6e6;
  box-shadow: 2px 2px 5px #e6e6e6;
}

/*Animations*/
/* Buzz Out */
@-webkit-keyframes buzz-out {
  /* line 707, ../SASS/index-style.scss */
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 712, ../SASS/index-style.scss */
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 717, ../SASS/index-style.scss */
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 722, ../SASS/index-style.scss */
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 727, ../SASS/index-style.scss */
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 732, ../SASS/index-style.scss */
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 737, ../SASS/index-style.scss */
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 742, ../SASS/index-style.scss */
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 747, ../SASS/index-style.scss */
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  /* line 752, ../SASS/index-style.scss */
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out {
  /* line 759, ../SASS/index-style.scss */
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 764, ../SASS/index-style.scss */
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 769, ../SASS/index-style.scss */
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  /* line 774, ../SASS/index-style.scss */
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  /* line 779, ../SASS/index-style.scss */
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 784, ../SASS/index-style.scss */
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 789, ../SASS/index-style.scss */
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  /* line 794, ../SASS/index-style.scss */
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  /* line 799, ../SASS/index-style.scss */
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  /* line 804, ../SASS/index-style.scss */
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

/* line 810, ../SASS/index-style.scss */
.buzz-out {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* line 816, ../SASS/index-style.scss */
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
  -webkit-animation-name: buzz-out;
  animation-name: buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes rotateplane {
  /* line 828, ../SASS/index-style.scss */
  0% {
    -webkit-transform: perspective(120px);
  }

  /* line 829, ../SASS/index-style.scss */
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  /* line 830, ../SASS/index-style.scss */
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes rotateplane {
  /* line 834, ../SASS/index-style.scss */
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  /* line 837, ../SASS/index-style.scss */
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  /* line 840, ../SASS/index-style.scss */
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
