/* Scss Document */
/* Scss Document */
@font-face {
  src: url(../Fonts/Dragon%20is%20coming.otf);
  font-family: menu;
}
@font-face{
	src: url(../Fonts/Mohave.otf);
	font-family: second;
}
@font-face{
	src: url(../Fonts/FlexDisplay-Thin.otf);
	font-family: paragraph;
}
@font-face{
	src: url(../Fonts/heroin07.TTF);
	font-family: grunge;
}
$color : #FF0000;

body{
	background: linear-gradient(90deg, darken($color, 15%), darken($color, 8%));
  	box-shadow: inset 0px 0px 90px rgba(0, 0, 0, 0.5);
}

#loading{
	width: 100px;
  height: 100px;
  background: url(../Images/logo.png);
  z-index: 1000;

  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}
#top{
	height: 40px;
	width: 100%;
	background:rgba(0, 0, 0, 0.6);
	position: fixed;
		.x-button{
			float: right !important;
			margin-right: -20px !important;
			margin-top: 70px !important;
		}
}
#bottom{
	position: fixed;
	height: 40px;
	width: 100%;
	background:rgba(0, 0, 0, 0.6);
	bottom: 0px;
}
#overlay{
	background: #FFF;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .4;
	display: none;
	z-index: 1;
}
/* line 6, ../SASS/index-style.scss */
#div-one {
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 500px;
  height: 300px;
  width: 500px;
  top: 100px;
  position: fixed;
	opacity: .7;
  border-radius: 5px;
}
/* line 18, ../SASS/index-style.scss */
#div-one #main-logo {
  height: 300px;
  width: 500px;
  border-radius: 50%;
}

#cover{
	height: 800px;
	width: 100%;
	background: #000;
}
#nav-button{
	float: left;
	margin-top: -30px;
	width: 90%;
	height: 50px;
	z-index: 1000;
}
#nav-button-1{
	height: 50px;
	width: 3%;
	margin-top: 20px;
	margin-bottom: -10px;
	margin-left: 15px;
	z-index: -100;
	cursor: pointer;
}
#nav-button-2{
	height: 50px;
	width: 3%;
	margin-top: -150px;
	margin-bottom: -5px;
	margin-left: 15px;
	z-index: -100;
	cursor: pointer;
}
#nav-button-3{
	height: 50px;
	width: 3%;
	margin-top: -70px;
	margin-left: 15px;
	z-index: -100;
	cursor: pointer;
}

/* line 23, ../SASS/index-style.scss */
#navigation {
  height: 100%;
  top: -50px;
  perspective: 800px;
}
/* line 27, ../SASS/index-style.scss */
#navigation #nav {
  margin-top: 0px;
  padding-top: 50px;
  height: 120%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  float: left;
  display: block;
  width: 5%;
  list-style: none;
}
/* line 38, ../SASS/index-style.scss */
#navigation #nav li {
  font-family: menu;
  font-size: 60px;
  margin-bottom: 30px;
  margin-left: -40px;
  margin-top: 10px;
  width: 130%;
}
/* line 52, ../SASS/index-style.scss */
#navigation #nav .top {
  background: #000;
}
.icon{
	margin-left: 20px;
	height: 50px;
	width: 50px;
	opacity: .3;
	-moz-transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
	-o-transition: .5s ease-in;
}
.icon:hover{
	opacity: 1;
	-moz-transform: scale(1.5,1.5) rotate(45deg) rotateX(60deg);
	-webkit-transform: scale(1.5,1.5) translate3d(20px, 10px, 300px) rotate(45deg);
	-ms-transform: scale(1.5,1.5) rotate(45deg);
	-o-transform: scale(1.5,1.5) rotate(45deg);
}
.description{
	font-size: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	display: block;
	padding: 10px;
	margin-left: 20px;
	transition: .5s ease-in-out;
	opacity: 0;
}
#about-us{
    width: 100px;
	margin-bottom: -50px;
	font-family: second;
	text-shadow: 2px 2px 2px #fff;
}
#specials{
	width: 100px;
	margin-bottom: -50px;
	font-family: second;
	text-shadow: 2px 2px 2px #fff;
}
#images{
	width: 100px;
	margin-bottom: -50px;
	font-family: second;
	text-shadow: 2px 2px 2px #fff;
}
#contact{
	width: 100px;
	margin-bottom: -50px;
	font-family: second;
	text-shadow: 2px 2px 2px #fff;
}

.x{
	height: 30px;
	width: 50px;
	float: left;
	display: block;
	margin-top: -40px;
	margin-left: 20px;
	opacity: .1;
}
.x-button{
	float: left;
	margin-top: 150px;
	cursor: pointer;

}
#x-right{
	-webkit-transition: .5s ease-in-out;
}
#x-left{
	-webkit-transition: .5s ease-in-out;
}
.x-button:hover > #x-right{
	-webkit-transform: rotate(45deg);
	opacity: 1;
}
.x-button:hover > #x-left{
	-webkit-transform: rotate(-45deg);
	opacity: 1;
}
#confirm{
	float: left;
	width: 100%;
	text-align: center;
	background: #e6e6e6;
	z-index: -1000;
}

#weekly{
	margin-top: 50px;
	margin-left: 50px;
	list-style: none;
	width: 100%;
		li{
			display: inline;
		}
		#ladies{
			padding: 30px 40px 30px 40px;
		}
		#sunday{
			color: #fff;
			background: url(../Images/test-back.png);
			background-size:cover;
			transition: 1s ease-in-out;
			-moz-transition: 1s ease-in-out;
			-webkit-transition: 1s ease-in-out;
			-ms-transition: 1s ease-in-out;
			-o-transition: 1s ease-in-out;
				:hover{
					border: medium solid #FFF;
				}
		}
		.week-event{
			background: rgba(255, 255, 255, 0.6);
			padding: 30px;
			margin-right: 20px;
			border-radius: 15px;
			font-family: second;
			transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-webkit-transition: .5s ease-in-out;
			-ms-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
		}
}

/*About Us */
#about-page{
	height: 400px;
	width: 60%;
	margin: 0 auto;
	padding: 0;
	margin-top: 150px;
	border: medium solid #000;
	color: #FFF;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	position: relative;
	box-shadow: inset 0 0 10px #888;
	overflow: hidden;
}

#about-top{
	height: 95%;
	width: 50%;
	opacity: .4;
	border-right: double solid #FFF;
	transition: 1s ease-in-out;
	margin: 10px 5px 15px 5px;
	border-radius: 10px;
	box-shadow: inset 0 0 10px #FFF;
	-moz-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-ms-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	-webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
		:hover{
		   -webkit-filter: none;
		   -moz-filter: none;
		   -ms-filter: none;
		   filter: none;
		   opacity: .6;
		}
}
#title{
	margin-top: -380px;
	margin-left: 450px;
	margin-bottom: -20px;
	font-family: second;
	font-size: 36px;
	text-align: center;
}
#about-p{
	float: right;
	-webkit-column-count: 2;
	width: 35%;
	height: 200px;
	padding: 15px;
	position: relative;
	color: #FFF;
	background: #FF000;
	margin-top: 55px;
	margin-right: 50px;
	text-align: right;
	font-family: paragraph;
	border-radius: 10px;
}
.sub{
	float: right;
	margin-right: 100px;
	margin-top: -100px;
	opacity:0;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-ms-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
}
#title:hover ~ .sub{
	opacity: 1;
}

/*Calendar */
#calendar{
	background: rgba(0, 0, 0, 0.6);
	margin: 0 auto;
	margin-top: 100px;
	height: 550px;
	position: relative;
	width: 50%;
	border: solid medium #000;
	overflow-x: hidden;
	border-radius: 15px;
	box-shadow: inset 0 0 20px #888;
}
#calendar:after{
	z-index: -100;
  position: relative;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  width: 60%;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
#calendar .month{
	background: rgba(255, 255, 255, 0.6);
	height: 50px;
	padding-top: 20px;
	margin-top: 0px;
	text-align: center;
	font-family: second;
	border-bottom: medium double #000;
}
#events{
	color: #FFF;
	margin-left: -20px;
	margin-top: -20px;
	height: 500px;
	width: 100%;
	list-style: none;
	overflow: scroll;
	z-index: -1000;
		:hover ~ #clicker{
			opacity: 1;
		}
		.event{
			background: #FFF;
			border-radius: 5px;
			left: 20px;
			position: relative;
			height: 200px;
			width: 90%;
			z-index: 1;
			margin-top: 20px;
			border-bottom: medium solid #000;
			box-shadow: 0px 10px 10px #e6e6e6;
			-moz-transition: .5s ease-in-out;
			-webkit-transition: 1s ease-in-out;
			-ms-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
				:hover ~ #closer{
					opacity: 1;
				}
				.date{
					font-size: 16px;
					/*float:right; */
					margin-top: -10px;
					margin-right: 50px;
				}
				.event-name{
					float: left;
					margin: 0 auto;
					margin-right: 10px;
					font-size: 36px;
					color: #000;
					font-family: second;
					text-align: center;
					-moz-transition: .5s ease-in-out;
			-webkit-transition: .5s ease-in-out;
			-ms-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
				}
				.event-name2{
					float: right;
					font-size: 36px;
					font-family: second;
					margin-right: 115px;
					margin-top: 20px;
				}
				.more{
					clear: both;
					float:right;
					margin-right: 20px;
					margin-top: -40px;
					font-size: 16px;
					font-family: second;
				}
				.event-info{
					float: left;
					margin-top: 50px;
					font-family: second;
					padding: 20px;
					color: #000;
				}
		}
		.event-icon{
			margin-top: 10px;
			height: 80px;
			width: 80px;
			z-index: 1000;
		}
}
#clicker{
	height: 100px;
	width: 200px;
	float:right;
	margin-right: -250px;
	margin-top: -300px;
	opacity: 0;
	-moz-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-ms-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

/*Gallery*/
#gallery{
	display: inline-block;
  height: 80%;
  width: 90%;
  margin-top: 150px;
  margin-left: 300px;
  padding: 10px;
  padding-top: 20px;
		#flickr{
			width: 100%;
			display: inline-block;
			list-style: none;
				li{
					display: inline;
				}
				.span4{
					  border: solid medium #000;
					  display: inline-block;
					  border-radius: 10px;
					  box-shadow: 5px 5px 10px #000;
					  transition: 1s ease-in-out;
					  opacity: .5;
					  height: 150px;
					  width: 150px;
					  -moz-transition: 1s ease-in-out;
					  -webkit-transition: 1s ease-in-out;
					  -ms-transition: 1s ease-in-out;
					  -o-transition: 1s ease-in-out;
					  	:hover{
							transform: scale(1.2,1.2);
							-moz-transform: scale(1.2,1.2);
							-webkit-transform: scale(1.2,1.2);
							-ms-transform: scale(1.2,1.2);
							-o-transform: scale(1.2,1.2);
							box-shadow: 5px 5px 10px #e6e6e6;
							opacity: 1;
						}
				}
		}
}

#dg-container{
	img{
		height: 300px;
		width: 300px;
	}
}

#funday{
	height: 500px;
	width: 60%;
	margin: 0 auto;
	padding: 0;
	margin-top: 150px;
	border: medium solid #000;
	color: #FFF;
	background: url(../Images/test-back.png);
	background-size: cover;
	border-radius: 5px;
	position: relative;
	box-shadow: inset 0 0 20px #888;
	overflow: hidden;
		#funday-top{
			font-family: grunge;
			font-size: 54px;
			text-align: center;
		}
		#funday-second{
			font-family: paragraph;
			font-size: 18px;
			margin-left: 400px;
			margin-top: -30px;
			text-decoration: overline underline;
		}
		#funday-info{
			margin-left: 30px;
			margin-top: 20px;
			height: 100%;
			width: 25%;
			font-family: second;
			font-size: 18px;
				.booking{
					text-decoration: none;
					color: #C09236 !important;
				}
		}
}
#location{
	height: 500px;
	width: 60%;
	margin: 0 auto;
	padding: 0;
	margin-top: 150px;
	border: medium solid #000;
	color: #FFF;
	background: rgba(0, 0, 0, 0.6);
	background-size: cover;
	border-radius: 15px;
	position: relative;
	box-shadow: inset 0 0 20px #888;
	overflow: hidden;
		#location-top{
			font-family: second;
			font-size: 50px;
			text-align: center;
		}
		.info{
			font-family: second;
			margin-left: 350px;
			margin-top: 50px;
			margin-bottom: -100px;
			font-size: 18px;
		}
		#call{
			margin-left: 220px;
		}
		#location-second{
			font-family: second;
			margin-left: 450px;
			margin-top: -30px;
			font-size: 18px;
		}
		.contact{
			float: left;
			border: solid medium #FFF;
			background: url(../Images/map.png);
			background-size: cover;
			padding: 30px 30px;
			border-radius: 50%;
			margin-left: 20px;
			margin-top: 200px;
			transition: 1s ease-in-out;
			-moz-transition: 1s ease-in-out;
			-webkit-transition: 1s ease-in-out;
			-ms-transition: 1s ease-in-out;
			-o-transition: 1s ease-in-out;
				.contact-icon{
					height: 50px;
					width: 50px;
				}
				:hover{
					transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-o-transform: rotate(90deg);
					border: solid medium #e6e6e6;
					box-shadow: 2px 2px 5px #e6e6e6;
				}
		}
}


/*Animations*/
/* Buzz Out */
@-webkit-keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.buzz-out {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
  -webkit-animation-name: buzz-out;
  animation-name: buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}